<app-spinner *ngIf="isMeatCooked===false" [spinnerMessage]="cookMeatMessage"> </app-spinner>
<app-spinner *ngIf="friedFoodCooked===false" [spinnerMessage]="friedFoodMessage"> </app-spinner>
<app-spinner *ngIf="drinkReady===false" [spinnerMessage]="drinkMessage"> </app-spinner>
<app-spinner *ngIf="ingredientReady===false" [spinnerMessage]="ingredientMessage"> </app-spinner>
<div class="list-group mt-2">
  <a *ngFor="let meat of meatBasket" href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{meat.meat.name}}</h5>

    </div>
    <p *ngFor="let ingredient of ingredientBasket" class="mb-1">{{ingredient.ingredient.name}}</p>

  </a>
</div>
<div class="list-group mt-2">
  <a *ngFor="let friedFood of friedFoodBasket" href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{friedFood.friedFood.name}}</h5>

    </div>


  </a>
</div>
<div class="list-group mt-2">
  <a *ngFor="let drink of drinkBasket" href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{drink.drink.name}}</h5>

    </div>


  </a>
</div>

<h3 class="text-bg-success mt-3">{{orderToTrayMessage}}</h3>
<h3 class="text-bg-primary mt-3">{{orderToCustomerMessage}}</h3>

<button (click)="prepareOrder(); sendOrderToTray()">Adımları Başlat</button>

