.product {
  display: inline-block;
  width: 31vh;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0 10px 10px 0;
  padding: 5px;
  transition: 0.5s ease all;
}

.product:hover {
  background-color: #fff4df;
  border-color: #ffc47f;
  box-shadow: 0 0 5px #ffc34f;
  transform: translate(7px);
}

.product img {
  width: 100%;

}
